<!-- <h2>Users in gym: {{ gymToFetch }}</h2>
<div *ngIf="users$ | async as users; else loading">
  <p *ngIf="users.length === 0">No users found.</p>

  <ul *ngIf="users.length > 0" class="user-list">
    <li *ngFor="let user of users"
        (click)="selectUser(user)"
        [class.selected]="user.id === userService.selectedUserId">
      <span>{{ user.fullName }}</span>
      
      <small>{{ user.country }} - {{ user.city }}</small>
    </li>
  </ul>
</div>

<ng-template #loading>
  <p>Loading users...</p>
</ng-template> -->


<div class="user-navigator" *ngIf="selectedUser">
  <button class="nav-btn" (click)="previousUser()">&lt;</button>

  <div class="user-card" (click)="selectUser(selectedUser)">
    <p><strong>{{ selectedUser.fullName }}</strong></p>
    <small>{{ selectedUser.country }} - {{ selectedUser.city }}</small>
  </div>

  <button class="nav-btn" (click)="nextUser()">&gt;</button>
</div>
