.mat-card {
  padding: 20px;
}

table {
  width: 100%;
}

.no-results {
  padding: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #666;
}

.mat-mdc-cell{
  cursor: pointer;
}