
<div *ngIf="users.length === 0">
  <p>Loading users or no users found.</p>
</div>
  <h2>Users in gym: {{ gymToFetch }}</h2>

<div *ngIf="users.length > 0" class="story-container">
  <button class="nav-btn left" (click)="previousUser()">&lt;</button>

<div class="user-card" (click)="selectUser(selectedUser!)">
    <p class="name">{{ selectedUser?.fullName }}</p>
    <small class="location">{{ selectedUser?.country }} - {{ selectedUser?.city }}</small>
  </div>

  <button class="nav-btn right" (click)="nextUser()">&gt;</button>
</div>
